header {
    background-image: url('../assets/animal-crossing-banner-twitter.jpg');
    background-size: cover;
    background-position: 50% 72%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: $primaryFont;
        margin: 0;
    }
}
