.mainWrapper {
    background-image: url('../assets/ac-new-horizons-leaf-pattern-v2-3840x2160-1.jpg');
    background-image: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.phoneOutside {
    width: 335px;
    border: 10px solid $black;
    border-radius: 25px;
    background-color: $black;
    min-height: 620px;
    box-shadow: 7px 4px 10px gray;
    border-bottom: 26px solid $black;
    margin: 50px 0;

    .phoneIcon{
        position: relative;
        top: 24px;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        i {
            color: white;
            position: relative;
            right: 15px;
            font-size: 20px;   
            padding: 0 2px;        
        }
        .fa-dot-circle {
            color: $black;
            font-weight: 800;
            margin: 0 40px;
        }
    }

    .phoneInside{
        min-height: 560px;
        background: linear-gradient(to bottom, $secondaryPhoneColor 2%, $primaryPhoneColor 3% 85%, $secondaryPhoneColor 86%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 20px 20px 0 20px;
        background-color: white;
        border-top: 20px solid $secondaryPhoneColor;
        border-radius: 30px;
    }
    label, select, input, button {
        display: block;
    }

    select {
        font-family: $secondaryFont;
        background-color: $secondaryPhoneColor;
        border: none;
        border-radius: 10px;
        font-size: 1.8rem;
        padding: 4px 10px;
    }

    label {
        width: 100%;
        font-size: 1.8rem;
    }

    .personalityStyle {
        margin-top: 25px;
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;
        border: none;
        font-size: 1.8rem;
        label, input {
            width: 50%;
        }
        input {
            margin-bottom: 5px;
            // appearance: none;
            // background-color: tomato;
        }
    }

    
    .submitBackground {
        width: 100%;
    }
    button {
        color: $black;
        font-size: 1.8rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 20px auto 10px;

        i {
            position: relative;
            top: 2px;
        }
    }

    .speciesContainer{
        input, select {
            margin: -20px auto 0;
        }
    }
}

.villagerContainer {
    position: relative;
    img {
        border-radius: 50%;
        max-width: 156px;
    }

    .nextButton, .backButton {
        font-size: 2.5rem;

    }

    .nextButton {
        position: absolute;
        bottom: 0px;
        right: 47px;  
        i {
            left: 2px;
        }  
    }
    .backButton {
        position: absolute;
        bottom: 0px;
        left: 47px;
        i {
            right: 2px;
        }  
    }
    .noMatch {
        margin-top: 180px;
    }
}


.copyright {
    background-color: $footerColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    p {
        margin: 0;
        .fa-copyright {
            font-size: 12px;
            padding: 0 3px;
        }
        a {
            text-decoration: none;
        }
    }
}