body {
    display: flex;
    font-family: $secondaryFont;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.hidden {
    display: none;
}


.mainWrapper {
    background-image: url('../assets/ac-new-horizons-leaf-pattern-v2-3840x2160-1.jpg');
    background-image: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .introduction {
        text-align: center;
        margin-bottom: 20px;
        p {
            margin: 0;
        }
    }
}


.formContainer {
    width: 335px;
    border: 10px solid black;
    border-radius: 20px;
    background-color: black;
    min-height: 480px;

    .formStyle {
        min-height: 460px;
        background: linear-gradient(to bottom, $secondaryPhoneColor 2%, $primaryPhoneColor 3% 83%, $secondaryPhoneColor 84%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: 20px 20px 0 20px;
        background-color: white;
        // border: 1px solid black;
        border-top: 20px solid $secondaryPhoneColor;
        border-radius: 30px;
    }
    label, select, input, button {
        display: block;
    }

    select {
        font-family: $secondaryFont;
    }

    label {
        width: 100%;
    }
    fieldset {
        display: flex;
        flex-wrap: wrap;
        label, input {
            width: 50%;
        }
    }
    .submitBackground {
        width: 100%;
    }
    button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 20px auto 0;
    }

    .speciesContainer{
        input, select {
            margin: 0 auto;
        }
    }
}

.villagerContainer {
    max-width: 33%;
    border: 20px solid black;
    border-radius: 20px;
    background-color: black;

    button {
        font-family: $secondaryFont;
    }
}


.copyright {
    background-color: $footerColor;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
        a {
            text-decoration: none;
        }
    }
}