@media (max-width: 380px) {
    header {
        justify-content: flex-start;
        .overlay {
            padding: 70px 20px;
            height: 100vh;
        }    
    }

    .copyright a {
        display: block;
        text-align: center;
    }
}

@media (max-width: 335px) {
    .phoneOutside {
        width: 100%;
    }
}