//==================
//COLOR PALETTE
//==================

//natural palette
$footerColor: #52C237;
$backgroundColor: #F6EDD9;
$primaryPhoneColor: #F2FDED;
$secondaryPhoneColor: #95d590;
$accentColor: #EB9486;

// //Skip Gradient
// $footerColor: #52C237;
// $backgroundColor: #FFD687;
// $primaryPhoneColor: #F2FDED;
// $secondaryPhoneColor: #DD9F54;

// //Third Option
// $footerColor: #52C237;
// $backgroundColor: #EBCE5A;
// $primaryPhoneColor: #FFD687;
// $secondaryPhoneColor: #ACC93A;

//other colors
$black: #232323;
$white: #FAFAFA;

//==================
//TYPOGRAPHY
//==================

$primaryFont: 'BioRhyme', serif;
$secondaryFont: 'Space Mono', monospace;